{% extends 'main/layout.html' %}


{% block title %}
О нас
{% endblock %}


{% block about %}
active
{% endblock %}


{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'main/css/about.css' %}">

<div class="container my-5">

    <h1>Мята Platinum — идеальное место для отдыха с качественным обслуживанием, едой и кальянами</h1>

    <div class="two-cols">
        <div class="col-item">
            <h2>Премиальные кальяны</h2>
            <p><b>Более 10 видов курительных смесей на любой вкус и крепость:</b> от Чабако до Танжирса.
                <b>Только премиальные марки кальянов</b> Hoob и Geometria.</p>
            <p>У каждого сотрудника нашей команды есть многолетний опыт в кальянном деле,
                мы точно сможем забить то, что вам хочется, необычные новинки или старую добрую классику.</p>
        </div>
        <div class="col-item">
            {% load static %}
            <img src="{% static 'main/img/hookah.jpg' %}" alt="hookah">
        </div>
    </div>

    <div class="two-cols">
        <div class="col-item">
            {% load static %}
            <img src="{% static 'main/img/food.jpg' %}" alt="food">
        </div>
        <div class="col-item">
            <h2>Блюда в авторском исполнении</h2>
            <p><b>Угодим любым гастрономическим предпочтениям</b></p>
            <p>Кухня предлагает итальянские пасты, салаты, бургеры, блюда японской кухни и многое другое.</p>
            <a href="/menu">
                <div class="btn rent-button">
                    <span>Просмотреть наше меню</span>
                </div>
            </a>
        </div>
    </div>

    <div class="four-cols">
        <div class="four-cols-item">
            {% load static %}
            <img src="{% static 'main/img/food-1.jpg' %}" alt="food">
        </div>
        <div class="four-cols-item">
            {% load static %}
            <img src="{% static 'main/img/food-2.jpg' %}" alt="food">
        </div>
        <div class="four-cols-item">
            {% load static %}
            <img src="{% static 'main/img/food-3.jpg' %}" alt="food">
        </div>
        <div class="four-cols-item">
            {% load static %}
            <img src="{% static 'main/img/food-4.jpg' %}" alt="food">
        </div>
    </div>

    <div class="two-cols">
        <div class="col-item">
            <h2>Алкогольные напитки лучшего качества</h2>
            <p>Бар с авторскими коктейлями, чаями, фруктовыми смузи. Наливаем более 17 видов вин и 10 видов алкогольных напитков разной крепости.</p>
            <a href="/menu">
                <div class="btn rent-button">
                    <span>Просмотреть наше меню</span>
                </div>
            </a>
        </div>
        <div class="col-item">
            {% load static %}
            <img src="{% static 'main/img/drinks.jpg' %}" alt="coctail">
        </div>
    </div>

    <div class="four-cols">
        <div class="four-cols-item">
            {% load static %}
            <img src="{% static 'main/img/drink-1.jpg' %}" alt="drink">
        </div>
        <div class="four-cols-item">
            {% load static %}
            <img src="{% static 'main/img/drink-2.jpg' %}" alt="drink">
        </div>
        <div class="four-cols-item">
            {% load static %}
            <img src="{% static 'main/img/drink-3.jpg' %}" alt="drink">
        </div>
        <div class="four-cols-item">
            {% load static %}
            <img src="{% static 'main/img/drink-4.jpg' %}" alt="drink">
        </div>
    </div>

    <div class="two-cols" style="margin-bottom: 7%">
        <div class="col-item">
            {% load static %}
            <img src="{% static 'main/img/dj.png' %}" alt="dj">
        </div>
        <div class="col-item">
            <h2>Частые выступления известных артистов и ди-джеев</h2>
            <p>Мы часто приглашаем известных артистов Москвы и диджеев для вашего отдыха в кальянной.</p>
        </div>
    </div>

</div>

    <div class="card">
        <div class="yandex-card">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa0c893ef17186d204be547da92046e6a846290427f1475feab24228c64cff9ec&amp;width=100%25&amp;height=546&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
        <div class="address-block">
            <h2>Мята Platinum</h2>
            <h3>Наши контакты</h3>
            <h4>Адрес:</h4>
            <p>Москва, м. Дубровка <br>ул. 1-я Машиностроения 10, эт.2</p>
            <h4>Режим работы:</h4>
            <p>Вс-Чт 12:00-01:00 <br>Пт-Сб 12:00-03:00</p>
            <h4>Телефон:</h4>
            <h3>+7(919)075-79-55</h3>
        </div>
    </div>

{% endblock %}

