{% extends 'main/layout.html' %}


{% block title %}
О нас
{% endblock %}


{% block about %}
active
{% endblock %}


{% block content %}

{% load static %}
{% load i18n %}
<link rel="stylesheet" href="{% static 'main/css/about.css' %}">

<div class="container my-5">

    <h1>{% trans 'Mint Platinum is an ideal place to relax with quality service, food and hookahs' %}</h1>

    <div class="two-cols">
        <div class="col-item">
            <h2>{% trans 'Premium hookahs' %}</h2>
            <p>{% trans 'More than 10 types of smoking mixtures for every taste and strength: from Chabako to Tangiers. Only premium brands of hookahs Hoob and Geometria.' %}</p>
            <p>{% trans 'Each employee of our team has many years of experience in the hookah business, we will definitely be able to score what you want, unusual novelties or good old classics.' %}</p>
        </div>
        <div class="col-item">
            {% load static %}
            <img src="{% static 'main/img/hookah.jpg' %}" alt="hookah">
        </div>
    </div>

    <div class="two-cols">
        <div class="col-item">
            {% load static %}
            <img src="{% static 'main/img/food.jpg' %}" alt="food">
        </div>
        <div class="col-item">
            <h2>{% trans 'Dishes in the authors execution' %}</h2>
            <p>{% trans 'We will please any gastronomic preferences' %}</p>
            <p>{% trans 'The kitchen offers Italian pastas, salads, burgers, Japanese dishes and much more.' %}</p>
            <a href="/menu">
                <div class="btn rent-button">
                    <span>{% trans 'View our menu' %}</span>
                </div>
            </a>
        </div>
    </div>

    <div class="four-cols">
        <div class="four-cols-item">
            {% load static %}
            <img src="{% static 'main/img/food-1.jpg' %}" alt="food">
        </div>
        <div class="four-cols-item">
            {% load static %}
            <img src="{% static 'main/img/food-2.jpg' %}" alt="food">
        </div>
        <div class="four-cols-item">
            {% load static %}
            <img src="{% static 'main/img/food-3.jpg' %}" alt="food">
        </div>
        <div class="four-cols-item">
            {% load static %}
            <img src="{% static 'main/img/food-4.jpg' %}" alt="food">
        </div>
    </div>

    <div class="two-cols">
        <div class="col-item">
            <h2>{% trans 'Alcoholic beverages of the best quality' %}</h2>
            <p>{% trans 'A bar with original cocktails, teas, fruit smoothies. We pour more than 17 types of wines and 10 types of alcoholic beverages of different strength.' %}</p>
            <a href="/menu">
                <div class="btn rent-button">
                    <span>{% trans 'View our menu' %}</span>
                </div>
            </a>
        </div>
        <div class="col-item">
            {% load static %}
            <img src="{% static 'main/img/drinks.jpg' %}" alt="coctail">
        </div>
    </div>

    <div class="four-cols">
        <div class="four-cols-item">
            {% load static %}
            <img src="{% static 'main/img/drink-1.jpg' %}" alt="drink">
        </div>
        <div class="four-cols-item">
            {% load static %}
            <img src="{% static 'main/img/drink-2.jpg' %}" alt="drink">
        </div>
        <div class="four-cols-item">
            {% load static %}
            <img src="{% static 'main/img/drink-3.jpg' %}" alt="drink">
        </div>
        <div class="four-cols-item">
            {% load static %}
            <img src="{% static 'main/img/drink-4.jpg' %}" alt="drink">
        </div>
    </div>

    <div class="two-cols" style="margin-bottom: 7%">
        <div class="col-item">
            {% load static %}
            <img src="{% static 'main/img/dj.png' %}" alt="dj">
        </div>
        <div class="col-item">
            <h2>{% trans 'Frequent performances by famous artists and DJs' %}в</h2>
            <p>{% trans 'We often invite famous Moscow artists and DJs for your holiday in a hookah bar.' %}</p>
        </div>
    </div>

</div>

    <div class="card">
        <div class="yandex-card">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa0c893ef17186d204be547da92046e6a846290427f1475feab24228c64cff9ec&amp;width=100%25&amp;height=546&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
        <div class="address-block">
            <h2>Мята Platinum</h2>
            <h3>{% trans 'Our contacts' %}</h3>
            <h4>{% trans 'Address:' %}</h4>
            <p>{% trans 'Moscow, M. Dubrovka str. 1-ya Mashinostroeniya 10, fl.2' %}</p>
            <h4>{% trans 'Operating mode' %}:</h4>
            <p>{% trans 'Sun-Thu 12:00-01:00 Fri-Sat 12:00-03:00' %}</p>
            <h4>{% trans 'Telephone:' %}</h4>
            <h3>+7(919)075-79-55</h3>
        </div>
    </div>

{% endblock %}

