{% extends 'main/layout.html' %}

{% block title %}
Наше меню
{% endblock %}

{% block menu %}
active
{% endblock %}

{% block content %}
{% load static %}
{% load i18n %}
<link rel="stylesheet" href="{% static 'main/css/menu.css' %}">
<h1>Меню Мята</h1>
<button onclick="window.print()" class="print-button">Распечатать меню</button>
<div class="container main-border">
    <div class="forborder">

        <h1>{% trans 'Salads' %}</h1>
        {% for item in salats %}
            {% if item.photo != '' %}
                <div class="food-with-photo">
                    <div class="food-with-photo-text">
                        {% filter upper %}
                            <h2>{{item.title}}</h2>
                        {% endfilter %}
                        <h3>{{item.weight}}г.</h3>
                        <h4>{{item.cost}}.-</h4>
                    </div>
                    <div class="food-with-photo-item">
                        <img src="{{item.photo}}" alt="">
                    </div>
                </div>
            {% else %}
                <div class="food-without-photo">
                    {% filter upper %}
                        <h2>{{item.title}}</h2>
                    {% endfilter %}
                    <h3>{{item.weight}}г.</h3>
                    <h4>{{item.cost}}-.</h4>
                </div>
            {% endif %}
        {% endfor %}

        <h1>{% trans 'Soups and side dishes' %}</h1>
        {% for item in sideDishesAndSoups %}
            {% if item.photo != '' %}
                <div class="food-with-photo">
                    <div class="food-with-photo-text">
                        {% filter upper %}
                            <h2>{{item.title}}</h2>
                        {% endfilter %}
                        <h3>{{item.weight}}г.</h3>
                        <h4>{{item.cost}}.-</h4>
                    </div>
                    <div class="food-with-photo-item">
                        <img src="{{item.photo}}" alt="">
                    </div>
                </div>
            {% else %}
                <div class="food-without-photo">
                    {% filter upper %}
                        <h2>{{item.title}}</h2>
                    {% endfilter %}
                    <h3>{{item.weight}}г.</h3>
                    <h4>{{item.cost}}-.</h4>
                </div>
            {% endif %}
        {% endfor %}

        <h1>{% trans 'Hot dishes' %}</h1>
        {% for item in hotDishes %}
            {% if item.photo != '' %}
                <div class="food-with-photo">
                    <div class="food-with-photo-text">
                        {% filter upper %}
                            <h2>{{item.title}}</h2>
                        {% endfilter %}
                        <h3>{{item.weight}}г.</h3>
                        <h4>{{item.cost}}.-</h4>
                    </div>
                    <div class="food-with-photo-item">
                        <img src="{{item.photo}}" alt="">
                    </div>
                </div>
            {% else %}
                <div class="food-without-photo">
                    {% filter upper %}
                        <h2>{{item.title}}</h2>
                    {% endfilter %}
                    <h3>{{item.weight}}г.</h3>
                    <h4>{{item.cost}}-.</h4>
                </div>
            {% endif %}
        {% endfor %}

        <h1>{% trans 'Drinks' %}</h1>
        {% for item in drinks %}
            {% if item.photo != '' %}
                <div class="food-with-photo">
                    <div class="food-with-photo-text">
                        {% filter upper %}
                            <h2>{{item.title}}</h2>
                        {% endfilter %}
                        <h3>{{item.weight}}г.</h3>
                        <h4>{{item.cost}}.-</h4>
                    </div>
                    <div class="food-with-photo-item">
                        <img src="{{item.photo}}" alt="">
                    </div>
                </div>
            {% else %}
                <div class="food-without-photo">
                    {% filter upper %}
                        <h2>{{item.title}}</h2>
                    {% endfilter %}
                    <h3>{{item.weight}}г.</h3>
                    <h4>{{item.cost}}-.</h4>
                </div>
            {% endif %}
        {% endfor %}

    </div>
</div>
{% endblock %}
