{% extends 'main/layout.html' %}

{% block title %}
Забронировать столик
{% endblock %}

{% block rent_a_table %}
active
{% endblock %}

{% block content %}

{% load static %}
{% load i18n %}
<link rel="stylesheet" href="{% static 'main/css/rent_a_table.css' %}">
<script src="{% static 'main/js/rent_a_table.js' %}"></script>

<div class="container">
    <div class="row row-cols-2" style="margin-top: 15%; margin-left: 7%;">
        <div class="col text-col">
            <h1>{% trans 'Book a seat in the hall right now!' %}</h1>
            <p>{% trans 'Cozy areas with a PS5 game console, the highest-rated games, a variety of board games, including backgammon, for a fun pastime with friends, as well as broadcasts of the top sports events in the world' %}.</p>
            <a href="/menu">
                <div class="btn rent-button">
                    <span>{% trans 'View our menu' %}</span>
                </div>
            </a>
        </div>
        <div class="row">
            <form method="post" class="form-style">
                {% csrf_token %}
                <h5>{% trans 'Enter your name' %}*</h5>
                {{form.client_name}}
                <h5>{% trans 'Select the number of guests' %}*</h5>

                {{form.clients_count}}
                <output id="rangevalue">1</output>

                <h5>{% trans 'Select the date of the visit' %}*</h5>
                {{form.date}}
                <h5>{% trans 'Write the approximate time of the visit' %}*</h5>
                {{form.time}}
                <h5>{% trans 'Enter your phone number' %}*</h5>
                {{form.phone_number}}
                <button class="btn rent-button" type="submit">
                    <span>{% trans 'To book' %}</span>
                </button>
                <span>{{ error }}</span>
            </form>
        </div>
    </div>
</div>

{% endblock %}

